* {
    margin: 0;
    padding: 0;
}
body {
    background-color: antiquewhite;
}
header,
footer {
    width: 100%;
    height: 150px;
    background-color: #F95151;
    color: white;
    padding: 15px 0px;
    box-shadow: 5px 10px #C9CDCB;

}
footer{
    padding-top: 30px;
}
h1,
h2 {
    text-align: center;
}
h2 {
    padding-bottom: 20px;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    
}

ul {
    padding-left: 40px;
    font-size: 20px;
}
ol {
    padding-bottom: 20px;
}

p {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 80%;
    margin: 40px auto;
    padding-right: 40px;
    padding-bottom: 15px;
    border: 15px solid #115D8A;
    box-shadow: 5px 10px #C9CDCB;
}